nav.nav-mobile
  a.menu-mobile__reveal(href="#0") MENU
  ul.menu-mobile
    li 
      a(href="index.html") Αρχική
    li
      a(href="church.html") Εκκλησία
    li
      a(href="posts.html") Άρθρα
    li
      a(href="sermons.html") Κηρύγματα
    li
      a(href="contact.html") Επικοινωνία

header.header-home

  nav.nav-home
    ul.menu-home
      li 
        a(href="index.html") Αρχική
      li
        a(href="church.html") Εκκλησία
      li
        a(href="posts.html") Άρθρα
      li
        a(href="sermons.html") Κηρύγματα
      li
        a(href="contact.html") Επικοινωνία