nav.nav-mobile
  a.menu-mobile__reveal(href="#0") MENU
  ul.menu-mobile
    li 
      a(href="index.html") Αρχική
    li
      a(href="#0") Εκκλησία
    li
      a(href="post.html") Άρθρα
    li
      a(href="#0") Πρόγραμμα
    li
      a(href="#0") Επικοινωνία

header.header-home

  nav.nav-home
    ul.menu-home
      li 
        a(href="index.html") Αρχική
      li
        a(href="#0") Εκκλησία
      li
        a(href="post.html") Άρθρα
      li
        a(href="#0") Πρόγραμμα
      li
        a(href="#0") Επικοινωνία