myBrown = rgba(195, 181, 155,1)

body
  background-image linear-gradient(top, rgba(255, 255, 255, 0.00), rgba(195, 181, 155, .6))
  filter 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#DBD4C5')'
  background-attachment: fixed

nav > ul
  padding 0
  margin  0
  
figure
  margin  0