.content-main--home
  text-align  center

.clip-svg
  //clip-path   url('#agp-logo')
  mask        url('files/logo-980.svg')
  //width       1200px
  //height      650px
  width       980px
  height      450px
  object-fit  cover
  
  +below(980px)
    mask        url('files/logo-800.svg')
    width       800px
    height      350px
    
  +below(800px)
    mask        url('files/logo-600.svg')
    width       600px
    height      295px
    
  +below(600px)
    mask        url('files/logo-450.svg')
    width       450px
    height      550px
    
  +below(440px)
    mask        url('files/logo-320.svg')
    width       320px
    height      400px
    
.home-intro
  padding       2rem 12% 5rem
  margin-bottom 2em
  +below(1024px)
    padding     3rem 8%
  +below(980px)
    padding     3rem 6%
  +below(800px)
    padding     .4rem 10% 1rem
.home-intro__content
  font-size     3rem
  font-weight   300
  font-style    italic
  blockquote
    padding     0
    margin      0
    font-size   2.1rem
    line-height 1.6
    font-family 'Roboto Slab', serif
    font-weight 100
    letter-spacing 0
    font-style   normal
    +below(980px)
      font-size 1.8rem
    +below(800px)
      font-size 1.7rem
    +below(600px)
      font-size 1.5rem
      
.article-home
  &__heading
    text-align      center
    text-transform  uppercase
  &__content
    padding         0 1em 1em
    font-size       25px
    line-height     1.62
    max-width       80%
    margin          0 auto
    +below(800px)
      max-width     none
      padding       0 1em 1em
  &__title
    font-size       1.8em
    margin-top      0
    line-height     1.2
    padding         4em 2em
    //font-family     'Roboto Slab', serif
    font-weight     200
    text-align      center
    background-size cover !important
    text-shadow     0 1px 1px rgba(255,255,255,0.7)
  h3
    line-height     1.6
    +below(800px)
      line-height   1.3
  p
    font-size     1.1em
    margin-bottom 1.42em
    +below(800px)
      font-size   .8em
      margin-bottom 1.1em
  