.article-page
  &__title
    text-align      center
    font-size       40px
    margin-top      0
    line-height     1.2
    padding         6em 2em
    background-size cover !important
    text-shadow     0 1px 0 rgba(255,255,255,0.4)
    +below(800px)
      padding       4em 1em
      margin-top    .5em
  &__content
    max-width   70%
    margin      0 auto
    font-size   20px
    line-height 1.62
    +below(980px)
      max-width     80%
    +below(800px)
      max-width     none
      padding       0 1em 1em
    p 
      font-size 1.1em
      
.section-title
  text-transform uppercase
  text-align     center
  

.page-sermons .article-preview
  box-shadow inset 0px 0px 0px 1px myBrown
  
.page-sermons .article-page__title
  margin-bottom 0