include ../jade/header.jade

body.page-post

  div.site-width

    include ../jade/head.jade

    main.content-main

      article.article-post

        h1.article-post__title(style="background:url('img/post-4.jpg') no-repeat;") 6 πράγματα που οφείλουν να γνωρίζουν οι γονείς την περίοδο των εξετάσεων

        div.article-post__content

          include:markdown ../md/6-things-exams.md

  include ../jade/footer.jade