include ../jade/header.jade

body.page-post

  div.site-width

    include ../jade/head.jade

    main.content-main

      article.article-post

        h1.article-post__title(style="background:url('img/post-1.jpg') no-repeat;") 7 πράγματα που λέει ένας καλός πατέρας

        div.article-post__content

          include:markdown ../md/7-things.md

  include ../jade/footer.jade