include ./jade/header.jade

body.page-home

  div.site-width

    include ./jade/head.jade

    main.content-main.content-main--home

      figure.home-logo
        img(class="clip-svg" id="masthead" src="img/home-slider/1.jpg" alt="Attiki odos")

      section.home-intro
        div.home-intro__content
          blockquote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur impedit magnam repudiandae, voluptas voluptates quisquam, nulla nesciunt. Numquam veniam eos aperiam necessitatibus! Iste doloribus sequi quisquam, quibusdam excepturi quis itaque?
      
  script(src="https://code.jquery.com/jquery-2.1.3.min.js")
  script(src="files/accents.js")
  script(src="files/cheet.min.js")
  script(src="site.min.js")
  script cheet('t o l i a s', function () { alert('Ahhh, Tolias. What a lovely boy he is.');}); cheet('d e s t r o y', function () { $('body').hide(); }); cheet('h e l p', function () { window.open('mailto:tim@prototypedesign.org.uk?subject=Help!'); });