include ./jade/header.jade
body.page-home

  div.site-width

    include ./jade/head.jade

    main.content-main.content-main--home

      figure.home-logo
        img(class="clip-svg" id="masthead" src="img/home-slider/1.jpg" alt="Attiki odos")

      section.home-intro
        div.home-intro__content
          blockquote  Μέσα στην καρδιά της πόλης, η Ευαγγελική Εκκλησία της Αγίας Παρασκευής είναι ένα περιβάλλον ανοιχτό για όλους: πιστούς και μη, κατασταλαγμένους και προβληματισμένους, θρησκευόμενους και αποστασιοποιημένους. Είναι μια κοινότητα που συγκροτείται γύρω από το ευαγγέλιο του Χριστού ρωτώντας κάθε φορά πώς αυτό αφορά εμάς, την καθημερινότητά μας, τις οικογένειές μας, τη γειτονιά μας, την πόλη μας.
      
      article.article-home
        <!-- h1.article-home__heading Τελευταίο άρθρο: -->
        div.article-home__title(style="background:url(img/sample-1.jpg);")
          h2 Ανατροφή των παιδιών: Βρίσκοντας χαρά στο ακατόρθωτο
        div.article-home__content
          include:markdown md/joy-impossible.md

  include ./jade/footer.jade