include ./jade/header.jade

body.page-post

  div.site-width

    include ./jade/head.jade

    main.content-main

      article.article-post

        h1.article-post__title 7 πράγματα που λέει ένας καλός πατέρας

        div.article-post__content

          include:markdown md/article1.md

  script(src="https://code.jquery.com/jquery-2.1.3.min.js")
  script(src="files/accents.js")
  script(src="site.min.js")