include ./jade/header.jade

body.page-sermons

  div.site-width

    include ./jade/head.jade

    main.content-main

      h1.article-page__title(style="background:url('img/sermons.jpg') no-repeat;") Κηρύγματα
      
      article.article-preview
        h1.article-preview__title 
          a(href="http://www.aeee.gr/wordpress/wp-content/uploads/2014/09/O-Xristos-h-xara-ths-giorths.-Panagioths-Kantartzhs1.mp3") Ο Χριστός, η χαρά της γιορτής
      article.article-preview
        h1.article-preview__title 
          a(href="http://www.aeee.gr/wordpress/wp-content/uploads/2013/07/Ego-eimai-o-Artos.-Panagioths-Kantartzhs1.mp3") Εγώ είμαι ο Άρτος.
      article.article-preview
        h1.article-preview__title 
          a(href="http://www.aeee.gr/wordpress/wp-content/uploads/2011/10/H-epanastash-ths-xaras.-Panagiohs-Kantartzhs1.mp3") Η επανάσταση της χαράς.
      article.article-preview
        h1.article-preview__title 
          a(href="http://www.aeee.gr/wordpress/wp-content/uploads/2014/08/H-paravolh-toy-asotoy-yioy.-Panagioths-Kantartzhs1.mp3") Η παραβολή του ασώτου υιού.
      article.article-preview
        h1.article-preview__title 
          a(href="http://www.aeee.gr/wordpress/wp-content/uploads/2015/03/H-eylogia-ths-syntrivhs.-Panagioths-Kantartzhs1.mp3") Η ευλογία της συντριβής.

  include ./jade/footer.jade